{
	padding: 0;
	margin: 0;
	font-family: system-ui;

}

body{
	background-color: #F98ED7;
}

header{
	background-color: white;
	height: 100px;
  border-radius: 20px 10px 50px 30px;
  -webkit-border-radius: 20px 10px 50px 30px;
  -moz-border-radius: 20px 10px 50px 30px;
  border: 10px double;
}
	header div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}
img{
	width: 200px;

}
nav{
	display: flex;
	gap: 70px;
}

nav a{
	font-size: 30px;
	text-decoration: none;
	color: black;
	font-weight: 600;
	border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid black;

}
center{
	background-color: white;
	height: 600px;
	  border-radius: 20px 10px 50px 30px;
	  -webkit-border-radius: 20px 10px 50px 30px;
  -moz-border-radius: 20px 10px 50px 30px;
  border: 10px double;
  text-align: center;
}
contenedor-imagenes {
  display: flex;
  flex-direction: row; /* o column */
  justify-content: space-around; /* o space-between, center, etc. */
  align-items: center; /* o flex-start, flex-end, etc. */
}

.contenedor-imagenes img {
  width: 50px; /* o cualquier tamaño */
  height: auto; /* o cualquier tamaño */
}

catalogo.png{
	width: 50px; /* o cualquier tamaño */
  height: auto; /* o cualquier tamaño */
}